{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
<div class="recurt_form block">
        <div class="container-fluid">
                <div class="row text-center justify-content-center">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <h1>Добавление Рекуртера рукой Тени</h1>
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="save btn btn-dark">Далее</button>
                            </form>
                        </div>
                </div>
        </div>
</div>
{% endblock %}
